<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WanderLust</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="css/bootstrap.css">

  <!-- Favicons -->
  <link href="favicon.png" rel="icon">
  <link href="apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>9876543210</span></i>
        
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 8PM</span></i>
        
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Wanderlust</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#homestays">Homestays</a></li>
          <li><a class="nav-link scrollto" href="#activities">Activities</a></li>
		  <li><a class="nav-link scrollto" href="#hotels">Hotels</a></li>
          <li class="dropdown"><a href="#"><span>Packages</span> <i class="bi bi-chevron-down"></i></a>
		  <ul>
			<li><a href="Packages#btrip">Business trips</a></li>			
			<li><a href="Packages#wtrip" >Weekend trips</a></li>
			<li><a href="Packages#ftrip" >Family trips</a></li>
			<li><a href="Packages#ytrip" >Youth trips</a></li>
			 </ul>
			</li> 
			
			<script>
function myFunction() {
  var elmnt = document.getElementById("pack");
  elmnt.scrollIntoView();
}
</script>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Destinations</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
               <li><a href="north-america">North America</a></li>
              <li><a href="south-america">South America</a></li>
              <li><a href="europe">Europe</a></li>
              <li><a href="aasia">Asia</a></li>
              <li><a href="africa">Africa</a></li>
			  <li><a href="australia">Australia</a></li>
            </ul>
          </li>
          <i class="bi bi-list mobile-nav-toggle"></i>
          <li class="dropdown"><a href="#"><span>User Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                   <li><a href="">Sign Up</a></li>
                   <li><a href="">Login</a></li></ul></li>
           </nav><!-- .navbar -->
          
         </div>
       </header><!-- End Header -->
 
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1><span>Welcome to Asia</span></h1>
          <h2>An wholesome continent</h2>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->
  
  <section id="asia" class="asia">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
		  <h2>Asia</h2>
          <p>How couldn't you just not visit them!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="bali.png" class="img-fluid" alt="">
			</div>
          </div>
             <div class="col-lg-6" data-aos="fade-left">
            <div class="asia-info">
			  		
			<table class="table table-light">
			  <thead>
				<tr>
				<th scope="col" class="text-center"><h5>BALI</h5></th>
				</tr>
			  </thead>
			<tbody>
			<tr>
 
				<td class="text-center"><strong>Country</strong>: Indonesia</td>
			</tr>
			<tr>
    
				<td class="text-center"><strong>Best time to visit</strong>: Mar-Aug</td>
			</tr>
			<tr>
      
				<td class="text-center"><strong>Known for</strong>: Beaches,Greenery</td>
			</tr>
			</tbody>
			</table>
			</div>
	
			
			 <div class="portfolio-description">

              <h2 align="center">Why Bali?</h2>
              <p>
The mere mention of Bali evokes thoughts of a paradise. It's more than a place; it's a mood, an aspiration, a tropical state of mind.The rich and diverse culture of Bali plays out at all levels of life, from the exquisite flower-petal offerings placed everywhere, to the processions of joyfully garbed locals shutting down major roads as they march to one of the myriad temple ceremonies, to the otherworldly traditional music and dance performed island-wide. Almost everything has spiritual meaning.             </p>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	<section id="nychotels" class="nychotels">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Hotels</h2>
          <p>You just can't miss them!</p>
        </div>
      </div>
		<div class="row g-0">
		
		<table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="balihotel1.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="balihotel.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
	
	<section id="nychome" class="nychome">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Homestays</h2>
          <p>A surreal place to spend your vacation!</p>
        </div>
      </div>
		<div class="row g-0">

              <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="asia/balihome1.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="asia/balihome2.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
			
			<section id="asia" class="asia">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
		  <h2>Asia</h2>
          <p>How couldn't you just not visit them!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="tokyo.jpg" class="img-fluid" alt="">
			</div>
          </div>
             <div class="col-lg-6" data-aos="fade-left">
            <div class="portfolio-info">
			  		
					  <table class="table table-light">
			  <thead>
    <tr>
      <th scope="col" class="text-center"><h5>TOKYO</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
 
      <td class="text-center"><strong>Country</strong>: Japan</td>
    </tr>
    <tr>
    
      <td class="text-center"><strong>Best time to visit</strong>: Mar-Apr & Sept-Nov</td>
    </tr>
    <tr>
      
      <td class="text-center"><strong>Known for</strong>: Fashion and Cherry Blossoms</td>
    </tr>
  </tbody>
</table>
			</div>
	
			
			 <div class="portfolio-description">

              <h2 align="center">Why Tokyo?</h2>
              <p>
Yoking past and future, Tokyo dazzles with its traditional culture and passion for everything new.More than any one sight, it's the city itself that enchants visitors. It's a sprawling, organic thing, stretching as far as the eye can see. Always changing, and with a diverse collection of neighborhoods, no two experiences of the city are ever the same. 

              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->
	
	<section id="north" class="north">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Hotels</h2>
          <p>You just can't miss them!</p>
        </div>
      </div>
		<div class="row g-0">

               <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="sushi.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="dumplings.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
	
	<section id="north" class="north">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Homestays</h2>
          <p>A surreal place to spend your vacation!</p>
        </div>
      </div>
		<div class="row g-0">

               <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="tokyohome.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="tokyohome1.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
			
			<section id="asia" class="asia">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
		  <h2>Asia</h2>
          <p>How couldn't you just not visit them!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="Dubai.jfif" class="img-fluid" alt="">
			</div>
          </div>
             <div class="col-lg-6" data-aos="fade-left">
            <div class="asia-info">
			  		
					  <table class="table table-light">
			  <thead>
    <tr>
      <th scope="col" class="text-center"><h5>DUBAI</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
 
      <td class="text-center"><strong>Country</strong>: The United Arab Emirates</td>
    </tr>
    <tr>
    
      <td class="text-center"><strong>Best time to visit</strong>: Nov-Jan</td>
    </tr>
    <tr>
      
      <td class="text-center"><strong>Known for</strong>: Grand Mosques and desert</td>
    </tr>
  </tbody>
</table>
			</div>
	
			
			 <div class="portfolio-description">

              <h2 align="center">Why Dubai?</h2>
              <p>
Dubai is a stirring alchemy of profound traditions and ambitious futuristic vision wrapped into starkly evocative desert splendour.
It's hard not to admire Dubai for its indefatigable verve, ambition and ability to dream up and realise projects that elsewhere would never get off the drawing board. After dark, Dubai sometimes seems like a city filled with lotus eaters, forever on the lookout for a good time. Its shape-shifting party spectrum caters for just about every taste, budget and age group.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->
	
	<section id="north" class="north">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Hotels</h2>
          <p>You just can't miss them!</p>
        </div>
      </div>
		<div class="row g-0">

              <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="asia/dubaihotel.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="asia/dubaihotel1.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
	
	<section id="north" class="north">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Homestays</h2>
          <p>A surreal place to spend your vacation!</p>
        </div>
      </div>
		<div class="row g-0">

               <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="asia/dubaihome.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="asia/dubaihome1.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
	
	  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Restaurantly</h3>
              <p>
                A101 MG Street<br>
                Mumbai,MH 400001<br><br>
                <strong>Phone:</strong> +91 9876543210<br>
                <strong>Email:</strong> info@wanderlust.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#cities">Top Cities</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Destinations</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#gallery">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#reviews">Reviews</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#hotels">Hotels</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#homestays">Homestays</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#activities">Activities</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Packages.html">Packages</a></li>
            </ul>
          </div>
			<div class="col-lg-3 col-md-6 footer-links">
           <img src="wanderlust.png">
			
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Wanderlust</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>