<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WanderLust</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="css/bootstrap.css">

  <!-- Favicons -->
  <link href="favicon.png" rel="icon">
  <link href="apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>9876543210</span></i>
        
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 8PM</span></i>
        
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/views/home.ejs">Wanderlust</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#homestays">Homestays</a></li>
          <li><a class="nav-link scrollto" href="#activities">Activities</a></li>
		  <li><a class="nav-link scrollto" href="#hotels">Hotels</a></li>
          <li class="dropdown"><a href="#"><span>Packages</span> <i class="bi bi-chevron-down"></i></a>
		  <ul>
			<li><a href="Packages#btrip">Business trips</a></li>			
			<li><a href="Packages#wtrip" >Weekend trips</a></li>
			<li><a href="Packages#ftrip" >Family trips</a></li>
			<li><a href="Packages#ytrip" >Youth trips</a></li>
			 </ul>
			</li> 
			
			<script>
function myFunction() {
  var elmnt = document.getElementById("pack");
  elmnt.scrollIntoView();
}
</script>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Destinations</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
               <li><a href="north-america">North America</a></li>
              <li><a href="south-america">South America</a></li>
              <li><a href="europe">Europe</a></li>
              <li><a href="aasia">Asia</a></li>
              <li><a href="africa">Africa</a></li>
			  <li><a href="australia">Australia</a></li>
            </ul>
          </li>
          <i class="bi bi-list mobile-nav-toggle"></i>
          <li class="dropdown"><a href="#"><span>User Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="register">Sign Up</a></li>
              <li><a href="login">Login</a></li></ul></li>
           </nav><!-- .navbar -->
          
         </div>
       </header><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1><span>Welcome to Europe</span></h1>
          <h2>An wholesome continent</h2>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->
  
  <section id="nyc" class="nyc">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
		  <h2>Europe</h2>
          <p>How couldn't you just not visit them!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="Amsterdam1.jfif" class="img-fluid" alt="">
			</div>
          </div>
             <div class="col-lg-6" data-aos="fade-left">
            <div class="portfolio-info">
			  		
					  <table class="table table-light">
			  <thead>
    <tr>
      <th scope="col" class="text-center"><h5>AMSTERDAM</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
 
      <td class="text-center"><strong>Country</strong>: Netherlands</td>
    </tr>
    <tr>
    
      <td class="text-center"><strong>Best season to visit</strong>: Apr-Aug</td>
    </tr>
    <tr>
      
      <td class="text-center"><strong>Known for</strong>: Beautiful canals and lifetsyle</td>
    </tr>
  </tbody>
</table>
			</div>
	
			
			 <div class="portfolio-description">

              <h2 align="center">Why Amsterdam?</h2>
              <p>
Golden Age canals lined by tilting gabled buildings are the backdrop for Amsterdam's treasure-packed museums, vintage-filled shops and hyper-creative drinking, dining and design scenes.The Van Gogh Museum hangs the world's largest collection by tortured native son Vincent.Two-wheeling is a way of life here. It's how Amsterdammers commute to work, go to the shop, and meet a date for dinner. Abundant bike-hire shops make it easy to gear up and take a spin. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	<section id="nychotels" class="nychotels">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Hotels</h2>
          <p>You just can't miss them!</p>
        </div>
      </div>
		<div class="row g-0">
		
		<table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="continents/amsthome.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="continents/amsthome1.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
	
	<section id="nychome" class="nychome">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Homestays</h2>
          <p>A surreal place to spend your vacation!</p>
        </div>
      </div>
		<div class="row g-0">

              <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="amsthotel.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="amsthotel1.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
			
			<section id="north" class="north">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
		  <h2>Europe</h2>
          <p>How couldn't you just not visit them!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="greecenew.jpg" class="img-fluid" alt="">
			</div>
          </div>
             <div class="col-lg-6" data-aos="fade-left">
            <div class="portfolio-info">
			  		
					  <table class="table table-light">
			  <thead>
    <tr>
      <th scope="col" class="text-center"><h5>SANTORINI</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
 
      <td class="text-center"><strong>Country</strong>: Greece</td>
    </tr>
    <tr>
    
      <td class="text-center"><strong>Best season to visit</strong>: Apr-June & Sept-Oct</td>
    </tr>
    <tr>
      
      <td class="text-center"><strong>Known for</strong>: Theater,Mythology,Medicine</td>
    </tr>
  </tbody>
</table>
			</div>
	
			
			 <div class="portfolio-description">

              <h2 align="center">Why Santorini?</h2>
              <p>
Hedonists rejoice! Greece is ancient sun-bleached ruins piercing blue skies, the balmy Aegean lapping an endless coastline and a culture alive with passionate music, wonderful cuisine and thrill-seeking activities. Socialising is more than a pastime in Greece – it's a way of life. Cafes overflow with youngsters gossiping or older locals in heated debate              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->
	
	<section id="nychotels" class="nychotels">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Hotels</h2>
          <p>You just can't miss them!</p>
        </div>
      </div>
		<div class="row g-0">
		
		<table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="greecehotel1.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="greecehotel.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
	
	<section id="nychome" class="nychome">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Homestays</h2>
          <p>A surreal place to spend your vacation!</p>
        </div>
      </div>
		<div class="row g-0">

              <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="greecehome1.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="greecehome2.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
			
			<section id="north" class="north">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
		  <h2>Europe</h2>
          <p>How couldn't you just not visit them!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="paris.jpg" class="img-fluid" alt="">
			</div>
          </div>
             <div class="col-lg-6" data-aos="fade-left">
            <div class="portfolio-info">
			  		
					  <table class="table table-light">
			  <thead>
    <tr>
      <th scope="col" class="text-center"><h5>PARIS</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
 
      <td class="text-center"><strong>Country</strong>: France</td>
    </tr>
    <tr>
    
      <td class="text-center"><strong>Best season to visit</strong>: June-Oct</td>
    </tr>
    <tr>
      
      <td class="text-center"><strong>Known for</strong>: Cuisine and Architecture</td>
    </tr>
  </tbody>
</table>
			</div>
	
			
			 <div class="portfolio-description">

              <h2 align="center">Why Paris?</h2>
              <p>
Paris' monument-lined boulevards, museums, classical bistros and boutiques are enhanced by a new wave of multimedia galleries, creative wine bars, design shops and tech start-ups.
The cloud-piercing, wrought-iron Eiffel Tower, broad Arc de Triomphe guarding the glamorous avenue des Champs-Élysées, flying buttressed Notre Dame cathedral, lamplit bridges spanning the Seine and art nouveau cafes' wicker-chair-lined terraces are enduring Parisian emblems
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->
	
	<section id="nychotels" class="nychotels">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Hotels</h2>
          <p>You just can't miss them!</p>
        </div>
      </div>
		<div class="row g-0">
		
		<table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="parishotel1.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="parishotel.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
	
	<section id="nychome" class="nychome">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Homestays</h2>
          <p>A surreal place to spend your vacation!</p>
        </div>
      </div>
		<div class="row g-0">

              <table class="table table-light">
			 
			<tbody>
			<tr>
 
				<td class="text-center"><img src="parishome1.jpg" alt="" class="w-50" "img-fluid" ></td>
				<td class="text-center"><img src="parishome.jpg" alt="" class="w-50" "img-fluid" ></td>
			</tr>
			</tbody>
			</table>
				</div>
			</div>
	
	  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Wanderlust</h3>
              <p>
                A101 MG Street<br>
                Mumbai,MH 400001<br><br>
                <strong>Phone:</strong> +91 9876543210<br>
                <strong>Email:</strong> info@wanderlust.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#cities">Top Cities</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Destinations</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#gallery">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#reviews">Reviews</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#hotels">Hotels</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#homestays">Homestays</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#activities">Activities</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Packages">Packages</a></li>
            </ul>
          </div>
			<div class="col-lg-3 col-md-6 footer-links">
           <img src="wanderlust.png">
			
          </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Wanderlust</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>